header.app-bar {
  height: var(--mobile-header-height);
  padding: 7px;
  background-color: var(--background-primary);
  color: var(--primary-color);
}

.header {
  height: 100%;
}

.header .logo {
  border-bottom: none;
}

.header .logo:hover {
  text-decoration: none;
  border: none;
}

.header .header-name .name span {
  padding: 0 10px 0 0;
}

.header .header-name .name span:last-child {
  padding: 0;
}

.header .menu-container {
  opacity: 0;
  height: 0;
  transition: all 0.5s;
  font-size: 1.3em;
  line-height: 1.3em;
  overflow: hidden;
}

.header .menu {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 700;
}

.menu .menu-link-container {
  padding: 10px 10px;
}

.menu .menu-link {
  text-decoration: none;
  transition: color 0.5s, border 0.5s;
  border-color: transparent;
}

.menu .menu-link:hover {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
  text-decoration: none;
}

.menu .menu-link.active {
  color: var(--secondary-color);
  border-bottom: none;
  text-decoration: none;
}

.menu .menu-link.active:hover {
  color: var(--secondary-color);
  border-bottom: none;
}

.menu .menu-link-divider {
  padding-top: 4px;
  line-height: 1.1em;
  font-size: 1em;
}

.header .logo-nav-container {
  height: 100%;
}

.logo-nav-container .header-logo {
  max-width: 100%;
  max-height: calc(var(--mobile-header-height) - 14px);
}

div.menu-popper {
  z-index: 1300;
  /* min-width: 250px; */
}

@media only screen and (min-width: 425px) {
  .logo-nav-container .header-logo {
    max-width: initial;
  }
}

@media only screen and (min-width: 1280px) {
  header.app-bar {
    padding: 0 2%;
  }

  .app-bar .header {
    height: var(--desktop-header-height);
    flex-flow: row nowrap;
  }

  .header .hamburger-nav-container {
    display: none;
  }

  .header .menu-container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
  }

  .header .menu-container .menu {
    justify-content: flex-end;
    font-size: 1.2em;
    line-height: 1.3em;
  }

  .menu .menu-link-container {
    padding: 0 10px;
  }
}
