.residential-container {
  background-color: var(--background-primary);
  padding: var(--mobile-header-height) 0 0;
}

.residential {
  padding: 0;
}

.residential-text-container {
  padding: 40px 25px 10px;
}

.residential-text-group {
  padding: 0 0 40px;
}

.residential-text-group ul {
  margin: 0;
}

.residential-text {
  padding: 15px 0 0 10px;
}

/* 
  Cannot use CSS variables in media queries.
  CSS variables can only be used on CSS declarations.
*/
/* @media only screen and (min-width: var(--sm)) { */
@media only screen and (min-width: 425px) {
  .residential {
    flex-flow: row nowrap;
    justify-content: center;
  }
}

/* @media only screen and (min-width: var(--md)) { */
@media only screen and (min-width: 768px) {
  div.residential-container {
    padding: var(--desktop-header-height) 0 0;
    flex-flow: column nowrap;
  }

  .residential-container .residential {
    padding: 0;
  }
}
