.customer-says-container {
  background-color: var(--background-secondary);
  color: var(--secondary-color);
  padding: 30px 20px;
}

.customer-says-title-container {
  padding: 0 0 20px;
}

.customer-says-review-title {
  color: var(--text-secondary);
}

.customer-says-container .chat-icon {
  font-size: 3.5em;
}

.customer-says-review {
  color: var(--text-secondary);
  padding: 0 0 15px;
}

.customer-says-review a {
  border-color: transparent;
  transition: color 0.25s, border 0.25s;
}

.customer-says-review a:hover {
  border-bottom: 2px solid;
  transition: color 0.25s, border 0.25s;
}

.flip-horizontal {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.customer-says-container .customer-says-review-text {
  padding: 0 0 5px;
}

.customer-says-container .customer-says-review-divider {
  background-color: var(--text-secondary);
  margin: 0 0 20px;
}

@media only screen and (min-width: 425px) {
  .customer-says-container .chat-icon {
    font-size: 5em;
  }

  .customer-says-container .customer-says-title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .customer-says-container {
    padding: 70px 0;
  }

  .customer-says-title-container {
    padding: 0;
  }

  .customer-says-container .customer-says-title {
    font-size: 30px;
  }

  .customer-says-container .chat-icon-container {
    justify-content: flex-start;
  }

  .customer-says-container .chat-icon {
    padding: 0 0 25px;
  }
}
