.learn-more-container {
  padding: 35px 0;
}

.learn-more-container .learn-more-title {
  max-width: 320px;
  font-size: 24px;
  padding: 0 8px 35px;
}

@media only screen and (min-width: 768px) {
  .learn-more-container .learn-more-title {
    max-width: initial;
    font-size: 32px;
  }

  .learn-more-container .learn-more-cards-container {
    flex-flow: row nowrap;
  }
}
