.roof-replacement-container {
  background-color: var(--background-primary);
  padding: var(--mobile-header-height) 0 0;
}

.roof-replacement {
  padding: 0;
}

/* 
  Cannot use CSS variables in media queries.
  CSS variables can only be used on CSS declarations.
*/
/* @media only screen and (min-width: var(--sm)) { */
@media only screen and (min-width: 425px) {
  .roof-replacement {
    flex-flow: row nowrap;
    justify-content: center;
  }
}

/* @media only screen and (min-width: var(--md)) { */
@media only screen and (min-width: 768px) {
  div.roof-replacement-container {
    padding: var(--desktop-header-height) 0 0;
    flex-flow: column nowrap;
  }

  .roof-replacement-container .roof-replacement {
    padding: 0;
  }
}
