.hero {
  position: relative;
  min-height: var(--hero-xs-height);
  width: 100%;
}

.hero .overlay {
  width: 100%;
  height: 100%;
  min-height: var(--hero-xs-height);
  background-color: #0000007f;
}

.gutters {
  padding: 20px 20px;
}

.hero .media {
  height: 100%;
}

.media h1 {
  max-width: 730px;
}

@media only screen and (min-width: 768px) {
  .hero h1 {
    font-size: 54px;
  }

  .hero,
  .hero .overlay {
    min-height: var(--hero-md-height);
  }
}

@media only screen and (min-width: 1280px) {
  .gutters {
    padding: 180px 40px;
  }

  .media h1 {
    max-width: 1000px;
  }
}
