.about-container {
  background-color: var(--background-primary);
  padding: var(--mobile-header-height) 0 0;
}

.about {
  padding: 0;
}

.about-content {
  padding: 55px 0 0;
}

.about-text {
  padding: 15px 25px 0;
}

.about-text-heading {
  padding: 45px 0 0;
}

.about-container .banner-contaner {
  background-color: var(--banner-background);
  color: var(--text-secondary);
  padding: 30px 20px 20px;
}

.about-container .about-map {
  width: calc(100% - 40px);
  padding: 20px;
}

.about-services {
  list-style: none;
  padding: 15px 0 45px;
  margin: 0;
}

.about-address-hours-container {
  background-color: var(--secondary-color);
  padding: 15px 20px;
}

.about-address-hours-container .about-address-hours {
  padding: 0 5px 0;
}

/* 
  Cannot use CSS variables in media queries.
  CSS variables can only be used on CSS declarations.
*/
/* @media only screen and (min-width: var(--sm)) { */
@media only screen and (min-width: 425px) {
  .about {
    flex-flow: row nowrap;
    justify-content: center;
  }
}

/* @media only screen and (min-width: var(--md)) { */
@media only screen and (min-width: 768px) {
  div.about-container {
    padding: var(--desktop-header-height) 0 0;
    flex-flow: column nowrap;
  }

  .about-container .about {
    padding: 0;
  }

  .about h2 {
    font-size: 2.5rem;
  }

  .about-text-container .title {
    padding: 0 0 20px;
  }

  .about-container .about-map {
    width: 100%;
    padding: 20px 0;
  }
}
