.about-container {
  background-color: var(--background-primary);
  padding: var(--mobile-header-height) 0 0;
}

.about {
  padding: 0;
}

.about-container .banner-contaner {
  background-color: var(--banner-background);
  color: var(--text-secondary);
  padding: 30px 20px 20px;
}

.about-container .about-map {
  width: 100%;
  min-height: 250px;
}

/* 
  Cannot use CSS variables in media queries.
  CSS variables can only be used on CSS declarations.
*/
/* @media only screen and (min-width: var(--sm)) { */
@media only screen and (min-width: 425px) {
  .about {
    flex-flow: row nowrap;
    justify-content: center;
  }
}

/* @media only screen and (min-width: var(--md)) { */
@media only screen and (min-width: 768px) {
  div.about-container {
    padding: var(--desktop-header-height) 0 0;
    flex-flow: column nowrap;
  }

  .about-container .about {
    padding: 0;
  }
}
