.main-container {
  height: 100%;
  background-color: var(--background-primary);
  padding: var(--mobile-header-height) 0 0;
  flex-flow: row nowrap;
}

.main {
  padding: 0;
}

.main .content-cards-container {
  flex-basis: unset;
}

.learn-more-container {
  padding: 25px 8px;
}

.learn-more-container h2 {
  padding: 0 0 25px;
}

/* 
  Cannot use CSS variables in media queries.
  CSS variables can only be used on CSS declarations.
*/
/* @media only screen and (min-width: var(--sm)) { */
@media only screen and (min-width: 425px) {
  .main {
    flex-flow: row nowrap;
    justify-content: center;
  }
}

/* @media only screen and (min-width: var(--md)) { */
@media only screen and (min-width: 769px) {
  div.main-container {
    height: calc(100% - var(--desktop-header-height) - var(--footer-height));
    padding: var(--desktop-header-height) 0 0;
    flex-flow: column nowrap;
  }

  .main-container .main {
    flex-flow: row nowrap;
    padding: 0;
  }

  .content-cards-container {
    flex-flow: column nowrap;
  }

  .cards-right {
    background: linear-gradient(90deg, #ffffff, #ff1500, #ffffff);
  }
}
