.cta-container {
  padding: 5px;
}

.cta {
  height: 100%;
  color: var(--text-color);
}

.cta.primary {
  background-color: var(--primary-color);
}

.cta.secondary {
  background-color: var(--secondary-color);
}

.cta.no-color {
  background-color: var(--background-primary);
}

.cta .title {
  margin-bottom: 0;
}

.cta .description {
  display: none;
}

@media only screen and (min-width: 769px) {
  .cta-container {
    padding: 15px;
    flex-basis: unset;
  }

  .cta .description {
    display: initial;
  }
}
