.cta-container {
  /* padding: 5px; */
}

.cta {
  height: 100%;
  padding: 10px;
  color: var(--text-color);
}

.cta.primary {
  background-color: var(--primary-color);
}

.cta.secondary {
  background-color: var(--secondary-color);
}

.cta.text-primary {
  background-color: var(--text-primary);
  color: var(--text-secondary);
}

.cta.text-secondary {
  background-color: var(--text-secondary);
  color: var(--text-primary);
}

.cta.no-color {
  background-color: var(--background-primary);
}

.cta.primary-border {
  border: 1px solid var(--primary-color);
}

.cta-container .cta.secondary-border {
  border: 1px solid var(--secondary-color);
}

.cta-container .cta.text-primary-border {
  border: 1px solid var(--text-primary);
}

.cta-container .cta.text-secondary-border {
  border: 1px solid var(--text-secondary);
}

.cta.no-color-border {
  border: none;
}

.cta .title {
  margin-bottom: 0;
}

.cta .description {
  display: none;
}

@media only screen and (min-width: 768px) {
  .cta-container {
    /* padding: 15px; */
    flex-basis: unset;
  }

  .cta .description {
    display: initial;
  }
}
